<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Sobre Mí</h2>
                <hr class="light">
                <p class="text-faded">Mi nombre es Jordan Escola, soy una persona muy alegre y extroverertida me gusta salir a caminar y conocer nuevos lugares y prácticar deportes, el deporte que más me gusta prácticar es el fútbol ya que me gusta compartir con mis comapañeros, competir en campeonatos y aplaudir mis logros por más pequeños que parezcan. 
                    Al momento de trabajar en clases me gusta hacerlo de manera colaborativa, es ahí en donde puedo aportar con ideas y debatir con mis compañeros y aprender de ellos. Soy una persona emprendedora, que adora los retos y no se rinde fácilmente también muy detallista y autodidacta cada día, nunca dejo de aprender.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
